.movie-poster-list {
    overflow: hidden;
    padding: 0px;
}

.movie-poster-list .movie-target {
    display: block;
    list-style-type: none;
    margin: 10px;
    width: 100%;
    height: auto;
    overflow: hidden;
    background: transparent;
    text-align: center;
    border-bottom: solid 1px #afafaf;
}

.movie-poster-list .movie-grid-poster {
    width: 40px;
    height: 60px;
    border: none;
    display: block;
    float: left;
}

.movie-poster-list .photo-caption {
    line-height: 60px;
    text-align: left;
    margin-left: 15px;
    display: inline-block;
    width: 180px;
    font-size: 1.2em;
    overflow: hidden;
    padding-right: 6px;
    color: white;
}

.movie-poster-list a {
    display: inline-block;
    float: left;
    width: 250px;
    overflow: hidden;
}

.movie-poster-list .mpaa_rating, .movie-poster-list .critics_rating {
    font-size: .75em;
    margin: 0 0 0 10px;
    width: 70px;
    line-height: 20px;
    float: none;
    text-align: left;
}

.movie-poster-list .critics_rating {
    width: 70px;
    margin-left: 10px;
}

@media (min-width:600px) {

    .movie-poster-list .photo-caption {
        width: 200px;
        font-size: 1.5em;
    }
}

@media (min-width:800px) {

    .movie-poster-list a {
        width: 300px;
    }

    .movie-poster-list .mpaa_rating, .movie-poster-list .critics_rating {
        font-size: 1.5em;
        margin: 0 0 0 50px;
        width: 100px;
        line-height: 60px;
        float: left;
        display: inline-block;
    }

    .movie-poster-list .critics_rating {
        width: 200px;
        margin-left: 10px;
    }
}

