.movie-poster-list {
    overflow: hidden;
    padding: 0px;
}

.movie-poster-list .movie-target {
    display: block;
    margin: 10px;
    width: 100%;
    height: 91px;
    overflow: hidden;
    background: transparent;
    border-bottom: solid 1px #afafaf;
}

.movie-poster-list .movie-grid-poster {
    width: 61px;
    height: 91px;
    border: none;
    display: block;
    float: left;
}

.movie-poster-list .photo-caption {
    line-height: 45px;
    text-align: left;
    margin-left: 15px;
    display: inline-block;
    font-size: 1.2em;
    overflow: hidden;
    padding-right: 6px;
    color: white;
    line-height: 2em;
    width: calc(100% - 90px);
    float: left;
}

.movie-poster-list a {
    display: inline-block;
    overflow: hidden;
    width: 100%;
}


.movie-poster-list .mpaa_rating, .movie-poster-list .critics_rating {
    font-size: .75em;
    width: 70px;
    line-height: 20px;
    float: left;
    text-align: left;
    width: 4em;
    margin-left: 15px;
    display: inline-block;
}


.movie-poster-list .critics_rating {
    width: 90px;
    margin-left: 10px;
}

@media (min-width:600px) {

    .movie-poster-list .photo-caption {
        width: calc(100% - 390px);
        font-size: 1.5em;
        float: left;
        line-height: 91px;
        font-weight: bold;
    }

    .movie-poster-list .mpaa_rating, .movie-poster-list .critics_rating {
        font-size: 1.5em;
        margin: 0 0 0 50px;
        width: 80px;
        line-height: 91px;
        display: inline-block;
    }

    .movie-poster-list .critics_rating {
        width: 150px;
        margin-left: 10px;
    }
}
