.animated {
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.slide.out {
    -moz-animation-name: slideouttoleft;
    -o-animation-name: slideouttoleft;
    -webkit-animation-name: slideouttoleft;
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    animation-name: slideouttoleft;
}

.slide.in {
    -moz-animation-name: slideinfromright;
    -o-animation-name: slideinfromright;
    -webkit-animation-name: slideinfromright;
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    animation-name: slideinfromright;
}

@-webkit-keyframes slideouttoleft {
    from {
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    to {
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@-moz-keyframes slideouttoleft {
    from {
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    to {
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@keyframes slideouttoleft {
    from {
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    to {
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@-moz-keyframes slideinfromright {
    from {
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    to {
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes slideinfromright {
    from {
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    to {
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes slideinfromright {
    from {
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    to {
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.fade.out {
    z-index: 0;
    -moz-animation-name: fadeout;
    -o-animation-name: fadeout;
    -webkit-animation-name: fadeout;
    animation-name: fadeout;
}

.fade.in {
    z-index: 10;
    opacity: 1;
    -moz-animation-name: fadein;
    -o-animation-name: fadein;
    -webkit-animation-name: fadein;
    animation-name: fadein;
}


.flip {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-animation-duration: .65s;
    -o-animation-duration: .65s;
    -webkit-animation-duration: .65s;
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    animation-duration: .65s;
    /* Needed to work around an iOS 3.1 bug that causes listview thumbs to disappear when -moz-visibility:hidden is used. */
    /* Needed to work around an iOS 3.1 bug that causes listview thumbs to disappear when -moz-visibility:hidden is used. */
    /* Needed to work around an iOS 3.1 bug that causes listview thumbs to disappear when -webkit-visibility:hidden is used. */
}

    .flip.out {
        -moz-animation-name: flipouttoleft;
        -o-animation-name: flipouttoleft;
        -webkit-animation-name: flipouttoleft;
        -moz-transform: rotateY(-180deg) scale(.8);
        -ms-transform: rotateY(-180deg) scale(.8);
        -o-transform: rotateY(-180deg) scale(.8);
        -webkit-transform: rotateY(-180deg) scale(.8);
        transform: rotateY(-180deg) scale(.8);
        animation-name: flipouttoleft;
    }

    .flip.in {
        -moz-animation-name: flipinfromleft;
        -o-animation-name: flipinfromleft;
        -webkit-animation-name: flipinfromleft;
        -moz-transform: rotateY(0) scale(1);
        -ms-transform: rotateY(0) scale(1);
        -o-transform: rotateY(0) scale(1);
        -webkit-transform: rotateY(0) scale(1);
        transform: rotateY(0) scale(1);
        animation-name: flipinfromleft;
    }


@-webkit-keyframes flipinfromleft {
    from {
        -moz-transform: rotateY(180deg) scale(.8);
        -ms-transform: rotateY(180deg) scale(.8);
        -o-transform: rotateY(180deg) scale(.8);
        -webkit-transform: rotateY(180deg) scale(.8);
        transform: rotateY(180deg) scale(.8);
    }

    to {
        -moz-transform: rotateY(0) scale(1);
        -ms-transform: rotateY(0) scale(1);
        -o-transform: rotateY(0) scale(1);
        -webkit-transform: rotateY(0) scale(1);
        transform: rotateY(0) scale(1);
    }
}

@-webkit-keyframes flipouttoleft {
    from {
        -moz-transform: rotateY(0) scale(1);
        -ms-transform: rotateY(0) scale(1);
        -o-transform: rotateY(0) scale(1);
        -webkit-transform: rotateY(0) scale(1);
        transform: rotateY(0) scale(1);
    }

    to {
        -moz-transform: rotateY(-180deg) scale(.8);
        -ms-transform: rotateY(-180deg) scale(.8);
        -o-transform: rotateY(-180deg) scale(.8);
        -webkit-transform: rotateY(-180deg) scale(.8);
        transform: rotateY(-180deg) scale(.8);
    }
}

@-moz-keyframes flipinfromleft {
    from {
        -moz-transform: rotateY(180deg) scale(.8);
        -ms-transform: rotateY(180deg) scale(.8);
        -o-transform: rotateY(180deg) scale(.8);
        -webkit-transform: rotateY(180deg) scale(.8);
        transform: rotateY(180deg) scale(.8);
    }

    to {
        -moz-transform: rotateY(0) scale(1);
        -ms-transform: rotateY(0) scale(1);
        -o-transform: rotateY(0) scale(1);
        -webkit-transform: rotateY(0) scale(1);
        transform: rotateY(0) scale(1);
    }
}

@-moz-keyframes flipouttoleft {
    from {
        -moz-transform: rotateY(0) scale(1);
        -ms-transform: rotateY(0) scale(1);
        -o-transform: rotateY(0) scale(1);
        -webkit-transform: rotateY(0) scale(1);
        transform: rotateY(0) scale(1);
    }

    to {
        -moz-transform: rotateY(-180deg) scale(.8);
        -ms-transform: rotateY(-180deg) scale(.8);
        -o-transform: rotateY(-180deg) scale(.8);
        -webkit-transform: rotateY(-180deg) scale(.8);
        transform: rotateY(-180deg) scale(.8);
    }
}

@keyframes flipinfromleft {
    from {
        -moz-transform: rotateY(180deg) scale(.8);
        -ms-transform: rotateY(180deg) scale(.8);
        -o-transform: rotateY(180deg) scale(.8);
        -webkit-transform: rotateY(180deg) scale(.8);
        transform: rotateY(180deg) scale(.8);
    }

    to {
        -moz-transform: rotateY(0) scale(1);
        -ms-transform: rotateY(0) scale(1);
        -o-transform: rotateY(0) scale(1);
        -webkit-transform: rotateY(0) scale(1);
        transform: rotateY(0) scale(1);
    }
}

@keyframes flipouttoleft {
    from {
        -moz-transform: rotateY(0) scale(1);
        -ms-transform: rotateY(0) scale(1);
        -o-transform: rotateY(0) scale(1);
        -webkit-transform: rotateY(0) scale(1);
        transform: rotateY(0) scale(1);
    }

    to {
        -moz-transform: rotateY(-180deg) scale(.8);
        -ms-transform: rotateY(-180deg) scale(.8);
        -o-transform: rotateY(-180deg) scale(.8);
        -webkit-transform: rotateY(-180deg) scale(.8);
        transform: rotateY(-180deg) scale(.8);
    }
}
