<script id="MoviePosterGridTemplate" type="text/x-mustache-template">
    {{#movies}}
        <div class="movie-target">
            <a href="#!movie/{{id}}/{{title}}">
                <img alt="{{title}}" src="{{posters.profile}}" class="movie-grid-poster">
                <figcaption class="demo-photo-caption">{{title}}</figcaption></a>
        </div>
    {{/movies}}
</script>

<script id="movieDetailsPosterTemplate" type="text/x-mustache-template">
    <span class="center"><img class="center full-movie-poster" alt="{{title}}" src="{{posters.detailed}}" /></span>
</script>

<script id="movieDetailsDescriptionTemplate" type="text/x-mustache-template">
    <h3 class="panel-title">Description</h3>
    <article class="movie-description">
    <header class="movie-detail">
        <span class="opening-day">Opening: {{release_dates.theater}}</span>
    </header>
    {{synopsis}}</article>
</script>

<script id="movieDetailsCastTemplate" type="text/x-mustache-template">
    {{#abridged_cast}}
    <li>{{name}}</li>
    {{/abridged_cast}}
</script>


<script id="MovieShowtimeTemplate" type="text/x-mustache-template">
    <li class="movie-showtime-item">
        <ul class = "vertical-list" >
            <li class="movie-poster-centered"><img alt="{{title}}" border="0" src="{{posters.profile}}"/></li>
            {{#showtimes}}
                <li class="movie-showtime-theater"><span class="theater-title">{{theater}}</span>
                    <div class="showtime-list">{{#showtimes}}
                            {{.}}&nbsp;
               {{/showtimes}}</div></li>
            {{/showtimes}}
        </ul>
    </li>
</script>
