<section id="homeview" class="content-pane"
    data-title="Modern Movie Web"
    data-transition="flip"
    data-callback="movie.loadHomeView"
    data-unload="movie.unloadHomeView">

   <div class="pxs_container home-page-panorama panorama-container">
        <ul class="panorama-panels">
            <li class="single-panel">
                <h3 class="panel-title">opening movies</h3>
                <div id="opening-movies-scroll" class="scroll-wrapper">
                    <div class="vertical-container">
                        <div class="opening-movie-list big-movie-list movie-poster-grid"></div>
                    </div>
                </div>
            </li>
            <li class="top-box-office-movie-list single-panel">
                <h3 class="panel-title">top box office</h3>
                <div id="top-box-movies-scroll" class="scroll-wrapper">
                    <div class="vertical-container">
                        <div class="top-box-list big-movie-list movie-poster-grid"></div>
                    </div>
                </div>
            </li>
            <li class="comming-soon-movie-list single-panel">
                <h3 class="panel-title">comming soon</h3>
                <div id="comming-soon-movies-scroll" class="scroll-wrapper">
                    <div class="vertical-container">
                        <div class="comming-soon-list big-movie-list movie-poster-grid"></div>
                    </div>
                </div>
            </li>
            <li class="movies-near-me-panel single-panel">
                <h3 class="panel-title">near me</h3>
                <div id="movies-near-me-scroll" class="scroll-wrapper">
                    <div class="vertical-container">
                        <div class="movies-near-me-list big-movie-list  movie-poster-grid"></div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="pxs_navigation">
            <span class="pxs_next"></span><span class="pxs_prev"></span>
        </div>
    </div>


</section>
