<section id="homeview" class="content-pane pxs_container home-page-panorama panorama-container"
    data-title="Modern Movie Web"
    data-transition="flip"
    data-callback="movie.loadHomeView"
    data-unload="movie.unloadHomeView">

    <ul class="panorama-panels">
        <li class="single-panel">
            <a href="#!movies/Opening"><h3 class="panel-title">opening movies</h3></a>
            <div id="opening-movies-scroll" class="scroll-wrapper">
                <div class="opening-movie-list big-movie-list movie-poster-grid"></div>
            </div>
        </li>
        <li class="top-box-office-movie-list single-panel">
            <a href="#!movies/TopBoxOffice"><h3 class="panel-title">top box office</h3></a>
            <div id="top-box-movies-scroll" class="scroll-wrapper">
                <div class="top-box-list big-movie-list movie-poster-grid"></div>
            </div>
        </li>
        <li class="comming-soon-movie-list single-panel">
            <a href="#!movies/CommingSoon"><h3 class="panel-title">comming soon</h3></a>
            <div id="comming-soon-movies-scroll" class="scroll-wrapper">
                <div class="comming-soon-list big-movie-list movie-poster-grid"></div>
            </div>
        </li>
        <li class="movies-near-me-panel single-panel">
            <a href="#!movies/InTheaters"><h3 class="panel-title">near me</h3></a>
            <div class="movies-near-me-list big-movie-list  movie-poster-grid"></div>
        </li>
    </ul>
    <div class="pxs_navigation">
        <span class="pxs_next"></span><span class="pxs_prev"></span>
    </div>

</section>
