<section id="mapsview" class="content-pane"
    data-title="Modern Web Movies Maps"
    data-transition="flip"
    data-callback="movie.loadMapsView"
    data-path="maps">


    <h2>Maps</h2>

</section>