<section id="newsview" class="content-pane"
    data-title="Modern Web Movies News"
    data-transition="flip"
    data-callback="movie.loadNewsView"
    data-path="news">


    <h2>News</h2>

</section>