<section id="searchview" class="content-pane"
    data-title="Modern Web Movies Search"
    data-transition="flip"
    data-callback="movie.loadSearchView"
    data-path="search\:term">

    <div class="searchBox">
        <input id="searchTerm" class="search" autocapitalize="off"
            autofocus name="searchTerm" placeholder="search term"
            results="5" type="search" />
        <span class="search-clear">X</span>
        <span class="search-icon"></span>
    </div>

    <div id="searchResults">
        <ul class="grid-list search-results-list">
        </ul>
    </div>

</section>
