.movie-poster-grid {
    overflow: hidden;
    padding: 0;
}

.movie-poster-grid .mpaa_rating,
.movie-poster-grid .critics_rating{
    display: none;
}

.movie-poster-grid .movie-target {
    display: inline-block;
    list-style-type: none;
    margin: 10px;
    width: 80px;
    height: 120px;
    overflow: hidden;
    background: transparent;
    text-align: center;
}

.movie-poster-grid .movie-grid-poster {
    width: 80px;
    height: 120px;
    border: none;
}

.movie-poster-grid .photo-caption {
    position: relative;
    top: -14px;
    float: left;
    overflow: hidden;
    padding-right: 6px;
    width: 80px;
    height: 14px;
    background-color: rgba(0, 0, 0, .4);
    color: white;
    text-align: right;
    font-size: .8em;
    line-height: 12px;
}
