@using SPAHelper
<section id="notfoundView" class="content-pane @if (Html.HasEscapeFragment()){@:current
                  } "
    data-title=" modern web movies missing"
         data-transition="flip"
         data-route="404">

    <div class="y-scroller-wrapper full-text">
        <p class="large-text"><img class="left full-movie-poster not-found-img" alt="Missing" data-src="http://content8.flixster.com/movie/25/69/256910_ori.jpg" />Sorry, but the view you were looking for is simply not here. You should be able to find just about any movie in theaters as well as look up previously released movies by name.</p>
        <p class="large-text">If you want to return home and start over again just <a href="#!">touch here</a>. Maybe you just want to see what is currently in theaters, if so <a href="#!movies/TopBoxOffice">touch here</a>.</p>
    </div>

</section>