

.toolbar {
    position: absolute;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 100;
    background-color: #3a1b48;
    color: #fff;
    height: 35px;
    overflow: hidden;
    /* for placeholder text */
    text-align: center;
}

.toolbar-top-menu {
    float: left;
    width: 100%;
}

.toolbar-item {
    display: inline-block;
    margin: 5px 0 0px 0;
    width: 18%;
    height: 42px;
}

.toolbar-item a, .toolbar-item a:visited {
    color: #fff;
}

/* Set the background-image url to the image sprite for the specif application */
.toolbar-item-icon {
    display: block;
    overflow: hidden;
    margin: auto;
    width: 30px;
    height: 26px;
    background-image: url("http://images.professionalaspnet.com/nav-icons-32.png");
    background-repeat: no-repeat;
}

.toolbar-item-landscape {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}


.home-icon,
.go-home{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAFaSURBVFhH7ZOhTgNBFEV3SUUTVlQgKiqQfEIFgnokCBwCUVkSJKIOgeADEAgkH4BAQFIESQU4BIImGBwCBAlkl3NnH6ZJ24VOSEjeSW7um9npfdv2TeI4jvNvKYqiluf5CTqjrtv230DDjMbneIB6gDXQMuqjNTsaH8KbNBzianyE9qy+x7ZVQ9+Ox4XgFRo9qAPeQy3URhvoQ9IzqPwCC+YzUSOCLylb+CZ+jYZogJI0TTvYm2qeL8qjQfN19IpeCF/9XlMHqPXte5T6hZ5s3bWPzwdBOxb4aA26WofOY7B/iGlGbsudCLNA2L4FKlgNpsKZU6yBX6Bji5kPAuuEHYQOFeCsbkZNsoiJVBpCBuwda5arEsJ3MQ1eh3orbBqcz9CnZFsTqXwLxiH8Dl2Zbmz7x/z6BWLhL5Caz4RBW8KychV45r/XcIZbgrVVGyOejax2HMeZQpJ8AUAQgxgDieuFAAAAAElFTkSuQmCC);
}

.maps-icon,
.theaters-icon,
.go-location
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHnSURBVFhH7ZU/KIRxGMfvrhsMhlM3GAwGww2GKwZFoezYDORGSkkUhWKQwXAjMlwmSnKmGwyuDHc2ykBHDAaFKMpAdz7f9/15p3vfkzNQ77e+fZ9/Pc97z+/3vhfw4cOHj3+HUqkULxaLzbDBhMqCuhpqBoxbHTQMzsECvKb5AvoOM3BAw0ypatvgKnyCRyb8c9DkgAEO8K0HsD0bxF7gGNwxIcVkR0wbV4SMuiIYDPYY0xXU1CItMMrQD3SR2Cj2nvJeqPgAZZCHWZqvwTx8tsMWzhjcjaaJ59CYFa0GNLKgNSMJGIGNsN6UqEZ+DIapm4Jf92TZlLgiaNQVNBLuMPv5dWHsaex1OAz1JmgD5+R2yfWij+gDsXbsBPScUfEINJwe3VDDU4Q0vAlq+Alx+cdQuKJmHJ213V8ADbXaDtZ5jybQHOq8BfgprdzooYlZvmzTxhXfuYS62Rl0HtX6nbOvgFPqJ4ztiop3gF9SQNLwgnVv0PQGHUJb0Rr0ldwkzMIo1J3YJ1dLLhkKherwXfGdDWxDNdZxXCK3aJwBSVQbCcMl/E1U1N1YIdeJ6uGqA4107m+ozt35shGzPs/EZlDnDkB9ordgMzk9XHWg0QiNPM+dfBd1g2gf6vkn5cOHDx9/DIHAJypZpHo9/TRhAAAAAElFTkSuQmCC);
}

.current-icon,
.go-current
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAEtSURBVFhH7ZOhTsNQFIbbBjExMTExMYGoQCAQE5MISJAIBHJir0FCMoFETuwBCOEFSBDgEJDwAiQzJIiFLMvklpbvlH8JZmRtV8X5kj//+Zt7z7m5bQPHcZxtk6bpbpIkbfwIXepxdTCkzsBYeiOn+B3Wws+1bLvQfE8DrtACfZIP8DN0jU7INS0vjw3TQBswQTbU6n00Qn3U1vJchPK10PgGs+avYRhecJABPsPvcXu2zBYWJJL/RQt10BfaQbfoCX0gu51DqYnqv3INNWxNKbiBRxoZp9RdK3B7BTFlT3mCNfCB8rP2DrMmZaBJdgB8jKaq7QCW58pz5YXyVPlFbYpDk9UN5Mb2qs1aNvkGKmWTv+ABi39Sbt6jKDpWXYyqX4HfgH+EjuP8d4LgG22T2OWu03TzAAAAAElFTkSuQmCC);
}

.search-icon,
.go-search
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAFISURBVFhH7ZSxTsJQGIVbw+DA4OjA4MDIA7jp6AM4OjDwAIzsjA4Mjg6yOxiegQcghEETGUgcWEwcNHEwafn+P4cEVEhNbrt4v+Tk/JyWey5NuUkkEvn3pPJC5Hl+hHXxM/wEzdEoTdMh+mAujyzLTtEb5T8gn6GGbg2PLY6WKjPvoTZzH70rf8EO9ZWwsPhAJVZ+rNgha6FPuw49xWGh4NlWxzuKtiBfb3CsqDAH8r3wgjXlTx58g3yq8c/vQaEN8OMW8l8LNvJXeVh4tHd6xDOsrtgh23xBrxWHhYWb6Eslj+iK8RzvIi83mEv9K14i38QuuN7X7eVAgR1G9+uN4Es09nbB5wvdXh2UPqjfNmCnpR3T1UFhnWI/KwzmCVbOqbgLSu1E9GPZYL7Vpeqg1P4dDrO9G9U+BYPiAbqhvKYoEolE9pAkKwuefE8ipBaqAAAAAElFTkSuQmCC);
}

.news-icon{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAFMSURBVFhH7ZOhTgNBEIbvTiMqEJXlDWoQVTwCWBQQngFJgsAQnoEgECB4ABy2gkcgAYEgoQJRUUHu+Gb3P9IAe7csoma/ZDOzf2d2Z+a2RSaTyayaUjZI0zQjuX9lUZblq/x0KCCJuq7vdUQnMRMw5ri3XullTOdjcqz7u6qqDryciN1ON0/a9kL4ieUY5L1JDhI7gQXu1Cu9jJiAezfkTZnAxKmp2O2xE7A4i29hf6WfgsROYEZXR5KCEHdO3Lq2tj9mAqfa/kpsAR+4L175or1oJtsyoIiBOeTtUsCNUwPEFvDMQRuSHIz3EjPksjOveIjdQ9uXPyGv8+1UsqmssezBLS/XvUEhj3KD/LeAIV1uLS+09h/wTgHfP88Pkh8h2qFZ9AsnCPRttB3sA+PflJyO3Z4Cb+RaR3QSMwE30gTmMZ8gk8lkVkxRfAJJnyfzvY6EswAAAABJRU5ErkJggg==);
}



.expand-toolbar {
    display: inline-block;
    float: right;
    margin: 5px 5% 0px 5%;
    width: 36px;
    height: 42px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    line-height: 24px;
}

.toolbar-item figcaption {
    display: block;
    margin: 2px auto;
    width: 100%;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 9px;
    line-height: 14px;
}

.toolbar-sub-menu {
    display: block;
    float: left;
    width: 100%;
}

.toolbar-sub-menu-nav-list {
    padding-left: 6px;
}

.toolbar-sub-menu-nav-item {
    right: 0px;
    left: 0px;
    overflow: hidden;
    margin: 5% 0;
    padding-left: 6px;
    height: 36px;
    color: #fff;
    font-size: 21px;
    line-height: 36px;
}

@media (min-width:601px){
    
     .toolbar {
        display: none;
    }

}

@media (min-height:320px) and (orientation:landscape) {

    .toolbar {
        top: 0;
        left: auto;
        margin: 0;
        width: 42px;
        height: 100%;
    }

    .toolbar-top-menu {
        margin: 0;
        width: 42px;
        height: 100%;
    }

    .toolbar-item {
        margin: 15% auto;
        width: 100%;
    }

    .toolbar-sub-menu {
        float: none;
    }

}

@media (max-height:240px) {

    .toolbar {
        display: none;
    }

}
