@using SPAHelper
<section id="mapsView" class="content-pane @if (Html.HasEscapeFragment()){@:current
                           } "
    data-title="movie theaters near you"
         data-transition="flip"
         data-route="maps">

    <div id="nearbyMap" style="position:absolute;width:100%;height:100%;"></div>

</section>