<script id="maps"
        class="spa-view"
        spa-transition="slide"
        spa-view-id=".spa-view-map"
        spa-route="maps"
        type='text/x-mustache-template'>

    <div id="nearbyMap" style="position:absolute;width:100%;height:100%;" class="spa-view-map"></div>

</script>