@using SPAHelper
<section id="mapsView" class="content-pane @if (Html.HasEscapeFragment()){@:current
                           } "
    spa-title="movie theaters near you"
         spa-transition="flip"
         spa-route="maps">

    <div id="nearbyMap" style="position:absolute;width:100%;height:100%;"></div>

</section>