<script id="movies"
        class="spa-view"
        spa-transition="slide"
        spa-view-id=".spa-view-movies"
        spa-route="movies/:movieType"
        type='text/x-mustache-template'>

    <section class="spa-view-movies">
        <div class="xy-scroller-wrapper">
            <div class="movie-poster-div movie-poster-grid"></div>
        </div>

    </section>

</script>