@using SPAHelper

<section id="moviesView" class="content-pane @if (Html.HasEscapeFragment()){@:current
         } "
         spa-title=" modern web movies"
         spa-transition="flip"
         spa-route="movies\:movieType">

    @if (!Html.HasEscapeFragment())
    {
        <div class="xy-scroller-wrapper">
            <div class="movie-poster-div movie-poster-grid"></div>
        </div>
    }
    else
    {
        @RenderPage("_MovieList.cshtml")
    }
</section>