<script id="privacy"
        class="spa-view"
        spa-transition="slide"
        spa-view-id=".spa-view-privacy"
        spa-route="privacy"
        type='text/x-mustache-template'>

    <section class="spa-view-privacy y-scroller-wrapper full-text">
        <p>This is a demonstration web application for the book High Performance Single Page Web Applications. There are no cookies used by this site. It does emply Google Analytics to track traffic statistics. All movie data is supplied by Rotten Tomatoes via their developer API. Any movie review submitted via the form in the movie view is not actually retained, it is merely meant for instructional purposes.</p>
        <p>Bacon ipsum dolor sit amet filet mignon pork chop chuck pancetta, sausage swine hamburger ball tip shankle kevin doner salami. Tongue corned beef rump cow, ham hock flank meatloaf boudin bresaola jowl hamburger. Salami flank doner, cow pig tail pork belly leberkas fatback frankfurter boudin swine shoulder tongue short ribs. Capicola corned beef kielbasa short loin, meatball pork loin fatback pastrami pork pig spare ribs frankfurter.</p>
        <p>Chuck turducken shoulder pork belly cow prosciutto, drumstick filet mignon. Ribeye spare ribs salami turducken rump andouille tongue. Kevin meatloaf strip steak fatback shoulder prosciutto andouille turducken doner filet mignon meatball ground round chicken t-bone landjaeger. Leberkas ball tip frankfurter kevin chicken tail pancetta beef ribs shoulder tri-tip turkey biltong turducken. Shoulder meatball strip steak, ribeye pork loin turkey kielbasa.</p>
        <p>Boudin fatback short loin kielbasa beef doner. Sirloin pork chop filet mignon t-bone shankle shoulder turkey tongue. Hamburger capicola turducken, shankle kielbasa pastrami short ribs jowl t-bone bacon meatball landjaeger boudin andouille pork chop. Meatball pancetta chicken leberkas strip steak prosciutto hamburger ribeye ground round chuck. Pork chop swine frankfurter shoulder kevin jowl pastrami. Tenderloin beef short ribs short loin, flank pork belly salami kielbasa frankfurter meatball brisket sausage pork chop turkey. Meatloaf tongue tenderloin turkey t-bone.</p>
        <p>Pork belly pastrami meatball swine capicola. Turducken shoulder sausage swine leberkas pork chop pork sirloin landjaeger prosciutto chicken cow t-bone jowl tongue. Ribeye corned beef tail tongue, bresaola capicola pork belly shank biltong pig. Short loin turkey brisket ham hock, rump bacon shoulder pig. Salami pork chop prosciutto pork loin sirloin brisket chicken drumstick spare ribs pancetta hamburger pork belly. Shank bresaola boudin ground round swine. Rump ham hock pancetta kielbasa boudin.</p>
        <p>Chuck landjaeger bresaola leberkas. Pork loin drumstick filet mignon biltong shank. Corned beef pork chop hamburger pig swine beef turkey pastrami fatback chicken meatloaf. Beef ribs meatball shankle, frankfurter turducken pork chop t-bone ground round chicken. Shank ground round pancetta doner frankfurter tri-tip bresaola capicola ham hock drumstick meatloaf cow. Tri-tip kevin hamburger cow shoulder pig meatloaf. Beef drumstick strip steak jerky.</p>
        <p>Shoulder salami pig chicken sirloin, meatball hamburger bacon fatback tenderloin. Pancetta bacon turkey, fatback pig drumstick tenderloin. Venison swine boudin cow bacon brisket. Venison sirloin kevin cow doner. Capicola frankfurter corned beef bacon drumstick.</p>
    </section>

</script>