<script id="social"
        class="spa-view"
        spa-transition="slide"
        spa-view-id=".spa-view-social"
        spa-route="social"
        type='text/x-mustache-template'>

    <section class="spa-view-social small-view">
        <p>Please follow our social feeds to keep up with the latest movie information</p>

        <div class="side-block-item social-badges">
            <a href="http://twitter.com/chrislove">
                <div class="social-icons twitter-icon"></div>
            </a><a href="http://github.com/docluv">
                <div class="social-icons github-icon"></div>
            </a><a href="http://www.slideshare.net/docluv">
                <div class="social-icons slideshare-icon"></div>
            </a><a href="http://love2dev.com/home/rss">
                <div class="social-icons rss-icon"></div>
            </a>
            <a href="https://plus.google.com/109412257237874861202?rel=author"><div class="social-icons google-icon"></div></a>
            <a href="http://www.youtube.com/user/ChrisLove62"><div class="social-icons youtube-icon"></div></a>
        </div>
    </section>

</script>