@using SPAHelper
<section id="theaterView" class="content-pane @if (Html.HasEscapeFragment()){@:current
                  } "

         data-title=" modern web movies theaters"
         data-transition="flip"
         data-route="theater\:theaterName">

    <div class="movie-showtime-info">
        <ul class="movie-showtime-dates horizontal-list">
            <li class="movie-showtime-date selected">
                <div class="movie-showtime-dayofweek">Monday</div>
                <div class="movie-showtime-day-date">13</div>
            </li>
            <li class="movie-showtime-date">
                <div class="movie-showtime-dayofweek">Tuesday</div>
                <div class="movie-showtime-day-date">14</div>
            </li>
            <li class="movie-showtime-date">
                <div class="movie-showtime-dayofweek">Wednesday</div>
                <div class="movie-showtime-day-date">15</div>
            </li>
            <li class="movie-showtime-date">
                <div class="movie-showtime-dayofweek">Thursday</div>
                <div class="movie-showtime-day-date">16</div>
            </li>
            <li class="movie-showtime-date">
                <div class="movie-showtime-dayofweek">Friday</div>
                <div class="movie-showtime-day-date">17</div>
            </li>
            <li class="movie-showtime-date">
                <div class="movie-showtime-dayofweek">Saturday</div>
                <div class="movie-showtime-day-date">18</div>
            </li>
            <li class="movie-showtime-date">
                <div class="movie-showtime-dayofweek">Sunday</div>
                <div class="movie-showtime-day-date">19</div>
            </li>
        </ul>
    </div>

    <div class="y-scroller-wrapper movie-showtimes-scroller">
        <div class="movie-showtimes-wrapper"></div>
    </div>

</section>
