<script id="MoviePosterGridTemplate" type="text/x-mustache-template">
    {{#movies}}
    <div class="movie-target">
        <a href="#!movie/{{id}}/{{title}}">
            <img alt="{{title}}" src="{{poster}}" class="movie-grid-poster">
            <figcaption class="demo-photo-caption">{{title}}</figcaption>
        </a>
    </div>
    {{/movies}}
</script>