<script id="MoviePosterGridTemplate" type="text/x-mustache-template">
    {{#movies}}
    <div class="movie-target">
        <a href="#!movie/{{id}}/{{title}}">
            <img alt="{{title}}" src="{{poster}}" class="movie-grid-poster">
            <figcaption class="demo-photo-caption">{{title}}</figcaption>
        </a>
    </div>
    {{/movies}}
</script>


<script id="MovieStartTimesTemplate" type="text/x-mustache-template">
    {{#movies}}
    <div class="movie-showtime-list-item">
        <a href="#!movie/{{id}}/{{title}}" class="movie-showtime-poster">
            <img alt="{{title}}" src="{{poster}}" class="movie-list-poster">
        </a>
        <div class="movie-start-times">
            <h3 class="movie-showtime-title">{{title}}</h3>
            <div class="movie-showtime-details">
                <ul class="horizontal-list">
                    <li class="movie-showtime-detail movie-showtime-detail-rating">Rating: {{mpaa_rating}}</li>
                    <li class="movie-showtime-detail movie-showtime-detail-release">
                        Released: {{year}}
                    </li>
                    <li class="movie-showtime-detail movie-showtime-detail-release-runtime">
                        {{runtime}} minutes
                    </li>

                </ul>
            </div>
            <ul class="movie-showtimes-list vertical-list">
                <li class="movie-showtime">11:45 AM</li>
                <li class="movie-showtime">1:25 PM</li>
                <li class="movie-showtime">3:30 PM</li>
                <li class="movie-showtime">4:55 PM</li>
                <li class="movie-showtime">5:10 PM</li>
                <li class="movie-showtime">6:35 PM</li>
                <li class="movie-showtime">7:20 PM</li>
                <li class="movie-showtime">8:35 PM</li>
                <li class="movie-showtime">9:45 PM</li>
                <li class="movie-showtime">10:10 PM</li>
            </ul>
        </div>
    </div>
    {{/movies}}
</script>

<script id="movieDetailsPosterTemplate" type="text/x-mustache-template">
    <span class="center"><img class="center full-movie-poster" alt="{{title}}" src="{{poster}}" /></span>
</script>

<script id="movieDetailsDescriptionTemplate" type="text/x-mustache-template">
    <header class="movie-detail">
        <span class="opening-day">Opening: {{release_dates.theater}}</span>
    </header>
    {{synopsis}}
</script>

<script id="movieDetailsCastTemplate" type="text/x-mustache-template">
    {{#abridged_cast}}
    <li>{{name}}</li>
    {{/abridged_cast}}
</script>


<script id="MovieShowtimeTemplate" type="text/x-mustache-template">
    <li class="movie-showtime-item">
            {{#showtimes}}
                <span class="theater-title">{{theater}}</span>
                <div class="showtime-list">
                    {{#showtimes}}
                    {{.}}&nbsp;
                    {{/showtimes}}
                </div>
            {{/showtimes}}
    </li>
</script>

<script id="NewsHeadlineTemplate" type="text/x-mustache-template">
    {{#articles}}
    <div>
        <a href="{{link}}"><h3>{{title}}</h3></a>
    </div>

    {{/articles}}
    {{^articles}}
    <h2>Sorry No News Available</h2>{{/articles}}
</script>


<script id="NYTReviewsTemplate" type="text/x-mustache-template">
    {{#results}}
    <article>
        <header>
            <a href="{{link.url}}"><h3>{{display_title}}</h3></a>
            <div class="review-by-line">
                <div class="review-reviewer">{{byline}}</div>
                <div class="review-pub-date">{{publication_date}}</div>
            </div>
            <img src="{{multimedia.resource.src}}" class="review-reviewer" alt="" />
        </header>
        <div class="review-summary">{{summary_short}}</div>
    </article>
    {{/results}}
    {{^results}}
    <h2>Sorry No Reviews Available</h2>{{/results}}
</script>