<section id="accountview" class="content-pane"
    data-title="Modern Web Movies Account View"
    data-transition="flip"
    data-onload="movie.loadAccountView"
    data-route="account">


    <h2>Account</h2>

</section>