<section id="homeView" class="content-pane"
    data-title="Modern Movie Web"
    data-transition="flip">

<div class="pxs_container home-page-panorama panorama-container">
    <ul class="panorama-panels">
        <li class="single-panel">
            <a href="#!movies/Opening">
                <h3 class="panel-title">opening movies</h3>
            </a>
            <div class="scroll-wrapper panel-v-scroll">
                <div class="opening-movie-list big-movie-list movie-poster-grid"></div>
            </div>
        </li>
        <li class="top-box-office-movie-list single-panel">
            <a href="#!movies/TopBoxOffice">
                <h3 class="panel-title">top box office</h3>
            </a>
            <div class="scroll-wrapper panel-v-scroll">
                <div class="top-box-list big-movie-list movie-poster-grid"></div>
            </div>
        </li>
        <li class="comming-soon-movie-list single-panel">
            <a href="#!movies/CommingSoon">
                <h3 class="panel-title">comming soon</h3>
            </a>
            <div class="scroll-wrapper panel-v-scroll">
                <div class="comming-soon-list big-movie-list movie-poster-grid"></div>
            </div>
        </li>
        <li class="movies-near-me-panel single-panel">
            <a href="#!movies/InTheaters">
                <h3 class="panel-title">near me</h3>
            </a>
            <div class="scroll-wrapper panel-v-scroll">
                <div class="movies-near-me-list big-movie-list movie-poster-grid"></div>
            </div>
        </li>
    </ul>
    <div class="pxs_navigation">
        <span class="pxs_next"></span><span class="pxs_prev"></span>
    </div>
</div>

</section>
