<section id="loginview" class="content-pane"
    data-title="Modern Web Movies Login"
    data-transition="flip"
    data-onload="movie.loadLoginView"
    data-path="login">


    <h2>Login</h2>

</section>