<section id="moviesView" class="content-pane"
    data-title="Modern Web Movies"
    data-transition="flip"
    data-route="movies\:movieType">    

    <div class="xy-scroller-wrapper">
        <div class="movie-poster-div movie-poster-grid"></div>
    </div>
</section>