@using SPAHelper
<section id="movieView" class="content-pane @if (Html.HasEscapeFragment()){@:current
                           } "
         data-title=" "
         data-transition="slide"
         data-route="movie\:id\:title">

<div class="pxs_container panorama-container">
    <div class="panorama-panels">
        <div class="single-panel movie-details-panel"></div>
        <div class="single-panel movie-description-panel">
            <h3 class="panel-title selected">Description<span class="title-view">></span></h3>
            <div class="y-scroller-wrapper text-scroll">
                <article class="movie-description"></article>
            </div>
        </div>
        <div class="single-panel movie-cast-panel">
            <h3 class="panel-title">Cast<span class="title-view">></span></h3>
            <ul class="vertical-list cast-name-list"></ul>
        </div>
        <div class="single-panel movie-showtimes-panel">
            <h3 class="panel-title">Showtimes<span class="title-view">></span></h3>
            <ul class="vertical-list movie-showtime-list"></ul>
            <div id="showReview">Leave A Review</div>
        </div>
        <div class="single-panel movie-review-panel">
            <h3 class="panel-title">Leave A Review</h3>
            <form action="/Home/Review" name="reviewForm" method="post">
                <ul class="vertical-list form-inputs">
                    <li>
                        <label class="input-label" for="ReviewerName">Your Name</label>
                        <input placeholder="Your Name" id="ReviewerName" tabindex="1" name="ReviewerName"
                               autocomplete="off" autocorrect="off" required autofocus />
                    </li>
                    <li>
                        <label class="input-label" for="ReviewerEMail">E-Mail</label>
                        <input type="email" placeholder="Your E-Mail" id="ReviewerEMail" tabindex="2"
                               name="ReviewerEMail"
                               autocomplete="off" autocorrect="off" title="Please Enter Your E-Mail" />
                    </li>
                    <li>
                        <label class="input-label" for="ReviewerPhone">Phone</label>
                        <input type="tel" placeholder="Phone Number" id="ReviewerPhone" tabindex="3"
                               autocomplete="off" autocorrect="off" placeholder="\d{3}[\-]\d{3}[\-]\d{4}"
                               name="ReviewerPhone" title="###-###-####" />
                    </li>
                    <li>
                        <label class="input-label" for="ReviewText">Review</label>
                        <textarea placeholder="Enter Your Review" tabindex="4" id="ReviewText"
                                  autocorrect="on" required name="ReviewText"></textarea>
                    </li>
                    <li>
                        <div id="reviewCancel" class="btn review-cancel" tabindex="6">Cancel</div>
                        <button type="submit" id="reviewSubmit" class="btn review-submit" tabindex="5">Submit</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>

</section>
