<section id="movieview" class="content-pane"
    data-title=""
    data-transition="flip"
    data-onload="movie.loadMovieView"
    data-unload="movie.unloadMovieView"
    data-path="movie\:id\:title">

    <div class="pxs_container panorama-container">
        <div class="panorama-panels">
            <div class="single-panel movie-details-panel"></div>
            <div class="single-panel movie-description-panel">
                <h3 class="panel-title selected">Description<span class="title-view">></span></h3>
                <article class="movie-description">
                </article>
            </div>
            <div class="single-panel movie-cast-panel">
                <h3 class="panel-title">Cast<span class="title-view">></span></h3>
                <ul class="vertical-list cast-name-list"></ul>
            </div>
            <div class="single-panel movie-showtimes-panel">
                <h3 class="panel-title">Showtimes<span class="title-view">></span></h3>
                <ul class="vertical-list movie-showtime-list"></ul>
                <div id="showReview">Leave A Review</div>
            </div>
            <div class="single-panel movie-review-panel">
                <h3 class="panel-title">Leave A Review</h3>
                <form>
                    <ul class="vertical-list form-inputs">
                        <li>
                            <label class="input-label" for="ReviewerName">Your Name</label><input placeholder="Your Name" id="ReviewerName" tabindex="1"
                                autocomplete="off" autocorrect="off" required /></li>
                        <li>
                            <label class="input-label" for="ReviewerEMail">E-Mail</label><input type="email" placeholder="Your E-Mail" id="ReviewerEMail" tabindex="2"
                                autocomplete="off" autocorrect="off" title="Please Enter Your E-Mail" /></li>
                        <li>
                            <label class="input-label" for="ReviewerPhone">Phone</label><input type="tel" placeholder="Phone Number" id="ReviewerPhone" tabindex="3"
                                autocomplete="off" autocorrect="off" pattern="^d{3}-d{3}-d{4}$" title="###-###-####" /></li>
                        <li>
                            <label class="input-label" for="MovieReview">Review</label><textarea placeholder="Enter Your Review" tabindex="4" id="MovieReview"
                                autocorrect="on" required></textarea></li>
                        <li>
                            <div id="reviewCancel" class="btn" tabindex="6">Cancel</div>
                            <div id="reviewSubmit" class="btn" tabindex="5">Submit</div></li>
                    </ul>
                </form>
            </div>
        </div>
    </div>

</section>
