<section id="newsview" class="content-pane"
    data-title="Modern Web Movies News"
    data-transition="flip"
    data-onload="movie.loadNewsView"
    data-path="news">

    <div class="y-scroller-wrapper">
        <div class="new-article-list"></div>
    </div>

</section>
