<section id="nofoundView" class="content-pane"
    data-title="Modern Web Movies Missing"
    data-transition="flip"
    data-route="404">


    <div>
        <p>Sorry, but the view you were looking for is simply not here. You should be able to find just about any movie in theaters as well as look up previously released movies by name.</p>
    </div>

</section>