@using SPAHelper
<section id="privacyView" class="content-pane @if (Html.HasEscapeFragment()){@:current
                  } "
         data-title=" modern web movies privacy statement"
         data-transition="flip"
         data-route="privacy">


    <div>
        <p>shhhhhh. everything is a secret</p>
    </div>

</section>