<section id="privacyView" class="content-pane"
         data-title="Modern Web Movies Privacy Statement"
         data-transition="flip"
         data-route="privacy">


    <div>
        <p>shhhhhh. everything is a secret</p>
    </div>

</section>