<section id="profileView" class="content-pane"
         data-title="Modern Web Movies User Profile"
         data-transition="flip"
         data-route="profile">


    <h2>User Profile</h2>

</section>