<section id="profileview" class="content-pane"
    data-title="Modern Web Movies User Profile"
    data-transition="flip"
    data-onload="movie.loadProfileView"
    data-route="profile">


    <h2>User Profile</h2>

</section>