<section id="reviewsView" class="content-pane"
    data-title="Modern Web Movies Reviews"
    data-transition="flip"
    data-route="reviews">


    <h2>Reviews</h2>
    <div class="y-scroller-wrapper">
        <div class="reviews-list">
            {{Coming Soon!}}
        </div>
    </div>

</section>
