@using SPAHelper
<section id="reviewsView" class="content-pane @if (Html.HasEscapeFragment()){@:current
                  } "
    data-title=" modern web movies reviews"
         data-transition="flip"
         data-route="reviews">


    <h2>Reviews</h2>
    <div class="y-scroller-wrapper">
        <div class="reviews-list">
            {{Coming Soon!}}
        </div>
    </div>

</section>
