<section id="newsview" class="content-pane"
    data-title="Modern Web Movies Reviews"
    data-transition="flip"
    data-onload="movie.loadReviewsView"
    data-route="reviews">

    <div class="y-scroller-wrapper">
        <div class="new-article-list"></div>
    </div>

</section>
