<section id="searchview" class="content-pane"
    data-title="Modern Web Movies Search"
    data-transition="flip"
    data-onload="movie.loadSearchView"
    data-route="search\:term">

<form action="/search" name="movieSearch">
    <div class="searchBox">
        <input id="searchTerm" class="search" spellcheck="true" autocapitalize="off"
               autofocus="" name="searchTerm" placeholder="search term" results="5" type="search" />
        <span class="search-input-icon"></span>
    </div>
</form>

    <div class="xy-scroller-wrapper">
        <div class="movie-poster-div movie-poster-grid">
        </div>
    </div>

</section>
