<section id="moviesview" class="content-pane"
    data-title="Modern Web Movies"
    data-transition="flip"
    data-callback="movie.loadMoviesView"
    data-path="movies\:movieType">    

    <div class="xy-scroller-wrapper">
        <div class="movie-poster-div movie-poster-grid">


        </div>
    </div>
</section>