<section id="newsview" class="content-pane"
    data-title="Modern Web Movies News"
    data-transition="flip"
    data-callback="movie.loadNewsView"
    data-path="news">

    <div class="xy-scroller-wrapper">
        <div class="news-article-list">
        </div>
    </div>

</section>
