<section id="theatersview" class="content-pane"
    data-title="Modern Web Movies Theaters"
    data-transition="flip"
    data-callback="movie.loadTheatersView"
    data-path="theaters">


    <h2>Theaters</h2>

</section>