<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Modern Web Movies</title>
        <link href="css/debug/site.css?v=.2" rel="stylesheet">
        <link href="css/debug/movie-grid.css?v=.2" rel="stylesheet">
        <link href="css/debug/movie-list.css?v=.2" rel="stylesheet">
    </head>
    <body>
        <header class="site-header" role="banner">
            <h1>Modern Web Movies</h1>
            <nav class="main-nav" role="navigation">
                <a href="#!" role="menuitem" class="home-nav"><div class="nav-icon home-icon"></div><div class="nav-text">Home</div></a>
                <a href="#!theaters" role="menuitem" class="theaters-nav"><div class="nav-icon theaters-icon"></div><div class="nav-text">Theaters</div></a>
                <a href="#!maps" role="menuitem" class="maps-nav"><div class="nav-icon maps-icon"></div><div class="nav-text">Map</div></a>
                <a href="#!news" role="menuitem" class="news-nav"><div class="nav-icon news-icon"></div><div class="nav-text">Reviews</div></a>
                <a href="#!search" role="menuitem" class="search-nav"><div class="nav-icon search-icon"></div><div class="nav-text">Search</div></a>

            </nav>
        </header>
        <section id="main" class="main-content" role="main">
            <div class="movie-poster-div movie-poster-list">
                <a href="#!movie/771193517/The Wolverine">
                    <div class="movie-target">
                        <img alt="The Wolverine" src="http://content6.flixster.com/movie/11/17/25/11172568_mob.jpg" class="movie-grid-poster">
                        <figcaption class="photo-caption">The Wolverine</figcaption>
                        <div class="mpaa_rating">PG-13</div>
                        <div class="critics_rating">Certified Fresh</div>
                    </div>
                </a>

                <a href="#!movie/771251238/The Smurfs 2">
                    <div class="movie-target">
                        <img alt="The Smurfs 2" src="http://content8.flixster.com/movie/11/16/74/11167458_mob.jpg" class="movie-grid-poster">
                        <figcaption class="photo-caption">The Smurfs 2</figcaption>
                        <div class="mpaa_rating">PG-13</div>
                        <div class="critics_rating">Certified Fresh</div>
                    </div>
                </a>

                <a href="#!movie/771235150/Turbo"><div class="movie-target"><img alt="Turbo" src="http://content9.flixster.com/movie/11/17/23/11172391_mob.jpg" class="movie-grid-poster">
                        <figcaption class="photo-caption">Turbo</figcaption>
                        <div class="mpaa_rating">PG-13</div>
                        <div class="critics_rating">Certified Fresh</div>
                    </div>
                </a>

                <a href="#!movie/771245727/Despicable Me 2"><div class="movie-target"><img alt="Despicable Me 2" src="http://content8.flixster.com/movie/11/17/21/11172174_mob.jpg" class="movie-grid-poster">
                        <figcaption class="photo-caption">Despicable Me 2</figcaption>
                        <div class="mpaa_rating">PG-13</div>
                        <div class="critics_rating">Certified Fresh</div>
                    </div></a>

                <a href="#!movie/771312656/The Conjuring"><div class="movie-target"><img alt="The Conjuring" src="http://content8.flixster.com/movie/11/17/07/11170746_mob.jpg" class="movie-grid-poster">
                        <figcaption class="photo-caption">The Conjuring</figcaption>
                        <div class="mpaa_rating">PG-13</div>
                        <div class="critics_rating">Certified Fresh</div>
                    </div></a>

                <a href="#!movie/771310388/2 Guns"><div class="movie-target"><img alt="2 Guns" src="http://content9.flixster.com/movie/11/17/07/11170775_mob.jpg" class="movie-grid-poster">
                        <figcaption class="photo-caption">2 Guns</figcaption>
                        <div class="mpaa_rating">PG-13</div>
                        <div class="critics_rating">Certified Fresh</div>
                    </div></a>

                <a href="#!movie/771267074/Grown Ups 2"><div class="movie-target"><img alt="Grown Ups 2" src="http://content9.flixster.com/movie/11/17/19/11171923_mob.jpg" class="movie-grid-poster">
                        <figcaption class="photo-caption">Grown Ups 2</figcaption>
                        <div class="mpaa_rating">PG-13</div>
                        <div class="critics_rating">Certified Fresh</div>
                    </div></a>

                <a href="#!movie/771259543/Red 2"> <div class="movie-target"><img alt="Red 2" src="http://content8.flixster.com/movie/11/17/13/11171362_mob.jpg" class="movie-grid-poster">
                        <figcaption class="photo-caption">Red 2</figcaption>
                        <div class="mpaa_rating">PG-13</div>
                        <div class="critics_rating">Certified Fresh</div>
                    </div></a>

                <a href="#!movie/771235120/Pacific Rim"><div class="movie-target"><img alt="Pacific Rim" src="http://content6.flixster.com/movie/11/17/22/11172244_mob.jpg" class="movie-grid-poster">
                        <figcaption class="photo-caption">Pacific Rim</figcaption>
                        <div class="mpaa_rating">PG-13</div>
                        <div class="critics_rating">Certified Fresh</div>
                    </div></a>

                <a href="#!movie/771308691/The Heat"><div class="movie-target"><img alt="The Heat" src="http://content8.flixster.com/movie/11/17/16/11171690_mob.jpg" class="movie-grid-poster">
                        <figcaption class="photo-caption">The Heat</figcaption>
                        <div class="mpaa_rating">PG-13</div>
                        <div class="critics_rating">Certified Fresh</div>
                    </div></a>

                <a href="#!movie/771246669/R.I.P.D."><div class="movie-target"><img alt="R.I.P.D." src="http://content9.flixster.com/movie/11/17/23/11172307_mob.jpg" class="movie-grid-poster">
                        <figcaption class="photo-caption">R.I.P.D.</figcaption>
                        <div class="mpaa_rating">PG-13</div>
                        <div class="critics_rating">Certified Fresh</div>
                    </div></a>

                <a href="#!movie/771324998/Fruitvale Station"><div class="movie-target"><img alt="Fruitvale Station" src="http://content9.flixster.com/movie/11/17/19/11171959_mob.jpg" class="movie-grid-poster">
                        <figcaption class="photo-caption">Fruitvale Station</figcaption>
                        <div class="mpaa_rating">PG-13</div>
                        <div class="critics_rating">Certified Fresh</div>
                    </div></a>

                <a href="#!movie/770785616/World War Z"><div class="movie-target"><img alt="World War Z" src="http://content8.flixster.com/movie/11/17/17/11171734_mob.jpg" class="movie-grid-poster">
                        <figcaption class="photo-caption">World War Z</figcaption>
                        <div class="mpaa_rating">PG-13</div>
                        <div class="critics_rating">Certified Fresh</div>
                    </div></a>

                <a href="#!movie/771324097/The Way, Way Back"><div class="movie-target"><img alt="The Way, Way Back" src="http://content6.flixster.com/movie/11/17/10/11171096_mob.jpg" class="movie-grid-poster">
                        <figcaption class="photo-caption">The Way, Way Back</figcaption>
                        <div class="mpaa_rating">PG-13</div>
                        <div class="critics_rating">Certified Fresh</div>
                    </div></a>

                <a href="#!movie/771238418/Monsters University"><div class="movie-target"><img alt="Monsters University" src="http://content6.flixster.com/movie/11/16/99/11169964_mob.jpg" class="movie-grid-poster">
                        <figcaption class="photo-caption">Monsters University</figcaption>
                        <div class="mpaa_rating">PG-13</div>
                        <div class="critics_rating">Certified Fresh</div>
                    </div></a>

            </div>
        </section>
        <footer class="footer">
            {footer}
        </footer>
    </body>
</html>
