<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Mobile Movies</title>
        <link href="css/debug/site.css?v=.2" rel="stylesheet">
    </head>
    <body>
        <header class="site-header" role="banner">
            <h1>Movies On The Web</h1>
        </header>
        <section id="main" class="main-content" role="main">
            <h2>Main Content Area</h2>
            <p> well, do you have anything to say for yourself? are you feeling lucky punk man's gotta know his limitations. this is my gun, clyde! what you have to ask yourself is, do i feel lucky. well do ya' punk? this is the ak-47 assault rifle, the preferred weapon of your enemy; and it makes a distinctive sound when fired at you, so remember it. this is the ak-47 assault rifle, the preferred weapon of your enemy; and it makes a distinctive sound when fired at you, so remember it. ever notice how sometimes you come across somebody you shouldn't have f**ked with? well, i'm that guy. ever notice how sometimes you come across somebody you shouldn't have f**ked with? well, i'm that guy. this is my gun, clyde! here. put that in your report!" and "i may have found a way out of here. don't p!ss down my back and tell me it's raining. ,</p>
            <p> this is the ak-47 assault rifle, the preferred weapon of your enemy; and it makes a distinctive sound when fired at you, so remember it. dyin' ain't much of a livin', boy. you want a guarantee, buy a toaster. man's gotta know his limitations. when a naked man's chasing a woman through an alley with a butcher knife and a hard-on, i figure he's not out collecting for the red cross. are you feeling lucky punk man's gotta know his limitations. well, do you have anything to say for yourself? don't p!ss down my back and tell me it's raining. you see, in this world there's two kinds of people, my friend: those with loaded guns and those who dig. you dig. don't p!ss down my back and tell me it's raining. dyin' ain't much of a livin', boy.</p>
            <p> dyin' ain't much of a livin', boy. are you feeling lucky punk here. put that in your report!" and "i may have found a way out of here. you see, in this world there's two kinds of people, my friend: those with loaded guns and those who dig. you dig. what you have to ask yourself is, do i feel lucky. well do ya' punk? well, do you have anything to say for yourself? here. put that in your report!" and "i may have found a way out of here. when a naked man's chasing a woman through an alley with a butcher knife and a hard-on, i figure he's not out collecting for the red cross. what you have to ask yourself is, do i feel lucky. well do ya' punk? you want a guarantee, buy a toaster. when a naked man's chasing a woman through an alley with a butcher knife and a hard-on, i figure he's not out collecting for the red cross. this is my gun, clyde! </p>
        </section>
        <footer class="footer">
            {footer}
        </footer>
    </body>
</html>
