<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Mobile Movies</title>
        <link href="css/debug/site.css?v=.2" rel="stylesheet">
        <link href="css/debug/movie-grid.css?v=.2" rel="stylesheet">
    </head>
    <body>
        <header class="site-header" role="banner">
            <h1>Movies On The Web</h1>
        </header>
        <section id="main" class="main-content" role="main">
            <div class="movie-poster-div movie-poster-grid">
                <div class="movie-target">
                    <a href="#!movie/771193517/The Wolverine">
                        <img alt="The Wolverine" src="http://content6.flixster.com/movie/11/17/25/11172568_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">The Wolverine</figcaption></a>
                </div>
                <div class="movie-target"><a href="#!movie/771251238/The Smurfs 2"><img alt="The Smurfs 2" src="http://content8.flixster.com/movie/11/16/74/11167458_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">The Smurfs 2</figcaption></a>
                </div>

                <div class="movie-target"><a href="#!movie/771235150/Turbo"><img alt="Turbo" src="http://content9.flixster.com/movie/11/17/23/11172391_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">Turbo</figcaption></a>
                </div>

                <div class="movie-target"><a href="#!movie/771245727/Despicable Me 2"><img alt="Despicable Me 2" src="http://content8.flixster.com/movie/11/17/21/11172174_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">Despicable Me 2</figcaption></a>
                </div>

                <div class="movie-target"><a href="#!movie/771312656/The Conjuring"><img alt="The Conjuring" src="http://content8.flixster.com/movie/11/17/07/11170746_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">The Conjuring</figcaption></a>
                </div>

                <div class="movie-target"><a href="#!movie/771310388/2 Guns"><img alt="2 Guns" src="http://content9.flixster.com/movie/11/17/07/11170775_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">2 Guns</figcaption></a>
                </div>

                <div class="movie-target"><a href="#!movie/771267074/Grown Ups 2"><img alt="Grown Ups 2" src="http://content9.flixster.com/movie/11/17/19/11171923_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">Grown Ups 2</figcaption></a>
                </div>

                <div class="movie-target"><a href="#!movie/771259543/Red 2"><img alt="Red 2" src="http://content8.flixster.com/movie/11/17/13/11171362_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">Red 2</figcaption></a>
                </div>

                <div class="movie-target"><a href="#!movie/771235120/Pacific Rim"><img alt="Pacific Rim" src="http://content6.flixster.com/movie/11/17/22/11172244_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">Pacific Rim</figcaption></a>
                </div>

                <div class="movie-target"><a href="#!movie/771308691/The Heat"><img alt="The Heat" src="http://content8.flixster.com/movie/11/17/16/11171690_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">The Heat</figcaption></a>
                </div>

                <div class="movie-target"><a href="#!movie/771246669/R.I.P.D."><img alt="R.I.P.D." src="http://content9.flixster.com/movie/11/17/23/11172307_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">R.I.P.D.</figcaption></a>
                </div>
                <div class="movie-target"><a href="#!movie/771324998/Fruitvale Station"><img alt="Fruitvale Station" src="http://content9.flixster.com/movie/11/17/19/11171959_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">Fruitvale Station</figcaption></a>
                </div>

                <div class="movie-target"><a href="#!movie/770785616/World War Z"><img alt="World War Z" src="http://content8.flixster.com/movie/11/17/17/11171734_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">World War Z</figcaption></a>
                </div>

                <div class="movie-target"><a href="#!movie/771324097/The Way, Way Back"><img alt="The Way, Way Back" src="http://content6.flixster.com/movie/11/17/10/11171096_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">The Way, Way Back</figcaption></a>
                </div>

                <div class="movie-target"><a href="#!movie/771238418/Monsters University"><img alt="Monsters University" src="http://content6.flixster.com/movie/11/16/99/11169964_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">Monsters University</figcaption></a>
                </div>

                <div class="movie-target">
                    <a href="#!movie/771193517/The Wolverine">
                        <img alt="The Wolverine" src="http://content6.flixster.com/movie/11/17/25/11172568_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">The Wolverine</figcaption></a>
                </div>

                <div class="movie-target"><a href="#!movie/771251238/The Smurfs 2"><img alt="The Smurfs 2" src="http://content8.flixster.com/movie/11/16/74/11167458_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">The Smurfs 2</figcaption></a>
                </div>

                <div class="movie-target"><a href="#!movie/771235150/Turbo"><img alt="Turbo" src="http://content9.flixster.com/movie/11/17/23/11172391_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">Turbo</figcaption></a>
                </div>

                <div class="movie-target"><a href="#!movie/771245727/Despicable Me 2"><img alt="Despicable Me 2" src="http://content8.flixster.com/movie/11/17/21/11172174_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">Despicable Me 2</figcaption></a>
                </div>

                <div class="movie-target"><a href="#!movie/771312656/The Conjuring"><img alt="The Conjuring" src="http://content8.flixster.com/movie/11/17/07/11170746_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">The Conjuring</figcaption></a>
                </div>

                <div class="movie-target"><a href="#!movie/771310388/2 Guns"><img alt="2 Guns" src="http://content9.flixster.com/movie/11/17/07/11170775_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">2 Guns</figcaption></a>
                </div>

                <div class="movie-target"><a href="#!movie/771267074/Grown Ups 2"><img alt="Grown Ups 2" src="http://content9.flixster.com/movie/11/17/19/11171923_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">Grown Ups 2</figcaption></a>
                </div>

                <div class="movie-target"><a href="#!movie/771259543/Red 2"><img alt="Red 2" src="http://content8.flixster.com/movie/11/17/13/11171362_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">Red 2</figcaption></a>
                </div>

                <div class="movie-target"><a href="#!movie/771235120/Pacific Rim"><img alt="Pacific Rim" src="http://content6.flixster.com/movie/11/17/22/11172244_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">Pacific Rim</figcaption></a>
                </div>

                <div class="movie-target"><a href="#!movie/771308691/The Heat"><img alt="The Heat" src="http://content8.flixster.com/movie/11/17/16/11171690_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">The Heat</figcaption></a>
                </div>

                <div class="movie-target"><a href="#!movie/771246669/R.I.P.D."><img alt="R.I.P.D." src="http://content9.flixster.com/movie/11/17/23/11172307_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">R.I.P.D.</figcaption></a>
                </div>
                <div class="movie-target"><a href="#!movie/771324998/Fruitvale Station"><img alt="Fruitvale Station" src="http://content9.flixster.com/movie/11/17/19/11171959_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">Fruitvale Station</figcaption></a>
                </div>

                <div class="movie-target"><a href="#!movie/770785616/World War Z"><img alt="World War Z" src="http://content8.flixster.com/movie/11/17/17/11171734_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">World War Z</figcaption></a>
                </div>

                <div class="movie-target"><a href="#!movie/771324097/The Way, Way Back"><img alt="The Way, Way Back" src="http://content6.flixster.com/movie/11/17/10/11171096_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">The Way, Way Back</figcaption></a>
                </div>

                <div class="movie-target"><a href="#!movie/771238418/Monsters University"><img alt="Monsters University" src="http://content6.flixster.com/movie/11/16/99/11169964_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">Monsters University</figcaption></a>
                </div>

                <div class="movie-target">
                    <a href="#!movie/771193517/The Wolverine">
                        <img alt="The Wolverine" src="http://content6.flixster.com/movie/11/17/25/11172568_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">The Wolverine</figcaption></a>
                </div>

                <div class="movie-target"><a href="#!movie/771251238/The Smurfs 2"><img alt="The Smurfs 2" src="http://content8.flixster.com/movie/11/16/74/11167458_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">The Smurfs 2</figcaption></a>
                </div>

                <div class="movie-target"><a href="#!movie/771235150/Turbo"><img alt="Turbo" src="http://content9.flixster.com/movie/11/17/23/11172391_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">Turbo</figcaption></a>
                </div>

                <div class="movie-target"><a href="#!movie/771245727/Despicable Me 2"><img alt="Despicable Me 2" src="http://content8.flixster.com/movie/11/17/21/11172174_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">Despicable Me 2</figcaption></a>
                </div>

                <div class="movie-target"><a href="#!movie/771312656/The Conjuring"><img alt="The Conjuring" src="http://content8.flixster.com/movie/11/17/07/11170746_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">The Conjuring</figcaption></a>
                </div>

                <div class="movie-target"><a href="#!movie/771310388/2 Guns"><img alt="2 Guns" src="http://content9.flixster.com/movie/11/17/07/11170775_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">2 Guns</figcaption></a>
                </div>

                <div class="movie-target"><a href="#!movie/771267074/Grown Ups 2"><img alt="Grown Ups 2" src="http://content9.flixster.com/movie/11/17/19/11171923_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">Grown Ups 2</figcaption></a>
                </div>

                <div class="movie-target"><a href="#!movie/771259543/Red 2"><img alt="Red 2" src="http://content8.flixster.com/movie/11/17/13/11171362_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">Red 2</figcaption></a>
                </div>

                <div class="movie-target"><a href="#!movie/771235120/Pacific Rim"><img alt="Pacific Rim" src="http://content6.flixster.com/movie/11/17/22/11172244_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">Pacific Rim</figcaption></a>
                </div>

                <div class="movie-target"><a href="#!movie/771308691/The Heat"><img alt="The Heat" src="http://content8.flixster.com/movie/11/17/16/11171690_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">The Heat</figcaption></a>
                </div>

                <div class="movie-target"><a href="#!movie/771246669/R.I.P.D."><img alt="R.I.P.D." src="http://content9.flixster.com/movie/11/17/23/11172307_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">R.I.P.D.</figcaption></a>
                </div>
                <div class="movie-target"><a href="#!movie/771324998/Fruitvale Station"><img alt="Fruitvale Station" src="http://content9.flixster.com/movie/11/17/19/11171959_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">Fruitvale Station</figcaption></a>
                </div>

                <div class="movie-target"><a href="#!movie/770785616/World War Z"><img alt="World War Z" src="http://content8.flixster.com/movie/11/17/17/11171734_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">World War Z</figcaption></a>
                </div>

                <div class="movie-target"><a href="#!movie/771324097/The Way, Way Back"><img alt="The Way, Way Back" src="http://content6.flixster.com/movie/11/17/10/11171096_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">The Way, Way Back</figcaption></a>
                </div>

                <div class="movie-target"><a href="#!movie/771238418/Monsters University"><img alt="Monsters University" src="http://content6.flixster.com/movie/11/16/99/11169964_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">Monsters University</figcaption></a>
                </div>


                <div class="movie-target">
                    <a href="#!movie/771193517/The Wolverine">
                        <img alt="The Wolverine" src="http://content6.flixster.com/movie/11/17/25/11172568_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">The Wolverine</figcaption></a>
                </div>

                <div class="movie-target"><a href="#!movie/771251238/The Smurfs 2"><img alt="The Smurfs 2" src="http://content8.flixster.com/movie/11/16/74/11167458_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">The Smurfs 2</figcaption></a>
                </div>

                <div class="movie-target"><a href="#!movie/771235150/Turbo"><img alt="Turbo" src="http://content9.flixster.com/movie/11/17/23/11172391_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">Turbo</figcaption></a>
                </div>

                <div class="movie-target"><a href="#!movie/771245727/Despicable Me 2"><img alt="Despicable Me 2" src="http://content8.flixster.com/movie/11/17/21/11172174_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">Despicable Me 2</figcaption></a>
                </div>

                <div class="movie-target"><a href="#!movie/771312656/The Conjuring"><img alt="The Conjuring" src="http://content8.flixster.com/movie/11/17/07/11170746_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">The Conjuring</figcaption></a>
                </div>

                <div class="movie-target"><a href="#!movie/771310388/2 Guns"><img alt="2 Guns" src="http://content9.flixster.com/movie/11/17/07/11170775_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">2 Guns</figcaption></a>
                </div>

                <div class="movie-target"><a href="#!movie/771267074/Grown Ups 2"><img alt="Grown Ups 2" src="http://content9.flixster.com/movie/11/17/19/11171923_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">Grown Ups 2</figcaption></a>
                </div>

                <div class="movie-target"><a href="#!movie/771259543/Red 2"><img alt="Red 2" src="http://content8.flixster.com/movie/11/17/13/11171362_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">Red 2</figcaption></a>
                </div>

                <div class="movie-target"><a href="#!movie/771235120/Pacific Rim"><img alt="Pacific Rim" src="http://content6.flixster.com/movie/11/17/22/11172244_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">Pacific Rim</figcaption></a>
                </div>

                <div class="movie-target"><a href="#!movie/771308691/The Heat"><img alt="The Heat" src="http://content8.flixster.com/movie/11/17/16/11171690_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">The Heat</figcaption></a>
                </div>

                <div class="movie-target"><a href="#!movie/771246669/R.I.P.D."><img alt="R.I.P.D." src="http://content9.flixster.com/movie/11/17/23/11172307_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">R.I.P.D.</figcaption></a>
                </div>
                <div class="movie-target"><a href="#!movie/771324998/Fruitvale Station"><img alt="Fruitvale Station" src="http://content9.flixster.com/movie/11/17/19/11171959_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">Fruitvale Station</figcaption></a>
                </div>

                <div class="movie-target"><a href="#!movie/770785616/World War Z"><img alt="World War Z" src="http://content8.flixster.com/movie/11/17/17/11171734_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">World War Z</figcaption></a>
                </div>

                <div class="movie-target"><a href="#!movie/771324097/The Way, Way Back"><img alt="The Way, Way Back" src="http://content6.flixster.com/movie/11/17/10/11171096_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">The Way, Way Back</figcaption></a>
                </div>

                <div class="movie-target"><a href="#!movie/771238418/Monsters University"><img alt="Monsters University" src="http://content6.flixster.com/movie/11/16/99/11169964_pro.jpg" class="movie-grid-poster">
                        <figcaption class="demo-photo-caption">Monsters University</figcaption></a>
                </div>


            </div>
        </section>
        <footer class="footer">
            {footer}
        </footer>
    </body>
</html>
