.x-scroller-wrapper, .y-scroller-wrapper {
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling:touch;
    overflow-scrolling:touch;
    overflow-style: none;
    -ms-scroll-chaining: none;
    -ms-scroll-snap-type: proximity;
    -ms-scroll-translation: vertical-to-horizontal; 
    overflow: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    padding-right: 0;
    height: 100%;
}

@media /*(max-width:1024px) and */ (min-width:600px) {

    .y-scroller-wrapper {
        overflow: hidden;
        overflow-x: scroll;
        overflow-y: hidden;
        /*-ms-scroll-snap-points-x: snapInterval(0%, 100%);*/
        width: auto;
        padding-right: 0;
        height: 100%;
    }

    /*.movie-poster-div {
        width: 3000px;
    }*/
}


@media (max-width:600px) {

    .y-scroller-wrapper {
        overflow: hidden;
        overflow-x: hidden;
        overflow-y: scroll;
        /*-ms-scroll-snap-points-x: snapInterval(0%, 100%);*/
        width: 100%;
        padding-right: 0;
        height: 100%;
    }
}
