.scroller-wrapper {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    overflow-scrolling: touch;
    overflow-style: none;
    -ms-scroll-translation: vertical-to-horizontal;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    padding-right: 0;
    height: 100%;
}


@media (min-width:600px) {

    .scroller-wrapper {
        -ms-touch-action: pan-x;
        touch-action: pan-x;
        overflow: hidden;
        overflow-x: scroll;
        overflow-y: hidden;
    }
}
