.search-button {
    position: absolute;
    top: 6px;
    right: 0;
    left: 9px;
    display: inline-block;
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;
}

    .search-button > img {
        height: 32px;
    }

input[type="search"].search {
    -moz-appearance: none;
    -webkit-appearance: none;
    float: left;
    margin: 0px;
    padding-left: 3px;
    width: 84%;
    height: 36px;
    outline: none;
    border: none;
    font-size: 1.5em;
}

.search-clear {
    position: absolute;
    right: 12px;
    display: none;
    float: right;
    margin: 3px;
    margin-top: 9px;
    width: 24px;
    height: 24px;
    -moz-border-radius: 18px;
    -o-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    background: #9E9E9E;
    color: white;
    text-align: center;
    font-weight: 300;
    font-size: 9pt;
    line-height: 24px;
}

.searchBox {
    margin: 6px;
    padding-right: 3px;
    padding-left: 6px;
    height: 42px;
    border: 1px solid #E9E9E9;
    background-color: #fff;
    font-size: 15pt;
}

#searchTerm {
    background-color: transparent;
    color: #808080;
}

.search-wrapper {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 36px;
    border: 1px solid #9e9e9e;
}

.search-input-wrapper {
    display: inline-block;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}
