<section id="moviesview" class="content-pane"
    data-title="Modern Web Movies"
    data-transition="flip"
    data-callback="movie.loadMoviesView"
    data-path="movies">


    <h2>Movies</h2>

</section>