<script id="movie-layout"
        class="spa-layout"
        spa-title="spa movies"
        spa-view-type="layout"
        spa-transition="slide"
        type='text/x-mustache-template'>

    <section class="spa-layout">

        <section class="spa-child-view main"></section>

    </section>


</script>