
.main-nav {
    margin-right: 20px;
    height: 50px;
    text-align: center;
    display: none;
    float: right;
}

.home-nav,
.theaters.nav,
.maps-nav,
.news-nav,
.account-nav {
    display: none;
}


.hamburger-nav {
    display: none;
    width: 100px;
    height: 40px;
    margin: 10px 5px;
    line-height: 26pt;
    /*padding: 10px 0 0 0;*/
    float: right;
    border:1px solid #fff;
}


.hamburger-bar-wrapper {
    float: left;
    height: 40px;
    padding-top: 8px;
    width: 40px;
    display: inline-block;
}


.hamburger-bar {
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
    margin: 3px auto;
    width: 30px;
    display: block;
}

.hamburger-bar-text {
    line-height: 40px;
    margin: 0 10px;
    width: 40px;
    height: 40px;
    display: inline-block;
    float: left;
}

.main-nav > a, .main-nav > a:visited {
    margin: 5px 5px 20px 5px;
    padding: 5px 10px;
    background-color: transparent;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.25em;
    display: inline-block;
}

    .main-nav > a:active {
        /*color: rgb(193,40,40);*/
        border-bottom: solid 2px #fff;
    }

.nav-text {
    float: left;
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
    margin: 15px 0 0 0;
    display: none;
}

.nav-icon {
    float: left;
    width: 32px;
    height: 32px;
    margin: 15px 0 0 0;
    display: none;
    background-repeat: no-repeat;
}

@media (min-width:600px) and (max-width:1024px) {

    .hamburger-nav {
        display: inline-block;
    }

    .main-nav {
        z-index: 1000;
        position: absolute;
        right: 10px;
        top: 50px;
        width: 200px;
        background-color: #48195c;
        height: 190px;
    }

        .main-nav > a, .main-nav > a:visited {
            margin: 5px 5px 20px 5px;
            padding: 5px 5px;
            background-color: transparent;
            color: #fff;
            text-align: center;
            text-decoration: none;
            font-weight: bold;
            font-size: 1.25em;
            display: block;
            width: 180px;
        }

    .nav-text, .nav-icon {
        display: inline-block;
        float: left;
        text-align: left;
    }

    .nav-icon {
        margin: 0;
    }

    .nav-text {
        width: 130px;
        margin: 0 5px 0 0;
    }
}


@media (min-width:720px) {

    .view-title {
        width: 500px;
    }
}


@media (min-width:1024px) {

    .main-nav {
        display: block;
    }

    .nav-icon {
        display: none;
    }

    .nav-text {
        display: block;
    }

    .view-title {
        width: 500px;
    }
}

@media (min-width:1180px) {

    .nav-icon {
        display: inline-block;
    }
}

/*
@media (min-width:601px) and (max-width:900px){
    
    .hamburger-nav{
        display:inline-block;
    }

}

@media (min-width: 860px){

    .main-nav {
        display: inline-block;
    }

}

@media (max-width:900px) {

    .main-nav > a.account-nav {
        display: none;
    }

}

*/
