
.btn {
    margin: auto;
    width: 45%;
    display:inline-block;
    height: 30px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 15pt;
}

form {
    margin-right: 12px;
    margin-left: 12px;
}

input, textarea {
    margin: auto;
    width: 92%;
    height: 24px;
    border: 1px solid #808080;
    background-color: #fff;
}

textarea {
    width: 93%;
    height: 48px;
}

    textarea:invalid, input:invalid {
        background-color: #808080;
    }

    textarea:required, input:required {
        border-width: 1px;
        border-color: #880606;
    }

    input:focus, textarea:focus {
        border: 1px solid rgba(100,100,100,0.5);
        background-color: #fff;
    }

.form-inputs > li {
    margin: 6px 0 6px 0;
}


::-webkit-validation-bubble-message {
    border-color: #444;
    background: #000;
    -webkit-box-shadow: 4px 4px 4px rgba(100,100,100,0.5);
    box-shadow: 4px 4px 4px rgba(100,100,100,0.5);
    color: #eee;
}

    ::-webkit-validation-bubble-message:before {
        display: inline-block;
        margin-right: 4px;
        width: 16px;
        height: 16px;
        background: url(http://trac.webkit.org/export/90202/trunk/Source/WebCore/inspector/front-end/Images/errorMediumIcon.png);
        content: "";
    }

::-webkit-validation-bubble-arrow {
    border-color: #444;
    background: #000;
    -webkit-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
}



@media (max-width:800px) {

    .input-label {
        display: none;
    }
}



@media (min-width:800px) {

    .form-inputs {
        list-style-type: none;
        margin: 20px auto;
        padding: 0;
        width: 800px;
    }

        .form-inputs > li {
            margin: 15px 0 15px 0;
        }

    input, textarea {
        width: 75%;
    }

    .input-label {
        width: 20%;
        font-size: 1.5em;
        display:inline-block;
    }

    input:-moz-placeholder,
    input::-moz-placeholder,
    input::-webkit-input-placeholder,
    input:-ms-input-placeholder,
    input::input-placeholder {
        color: #808080;
    }

    .btn {
        margin: 0 100px 0 0;
        width: 400px;
        float: right;
    }
}

@media (min-width:1090px){

    .btn {
        margin: 5px 10%;
        width: 100px;
        float: none;
    }


}