

.movie-title {
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
}

.movie-detail {
    margin: .5em 0;
}


.movie-description {
    font-size: 1em;
    line-height: 1.5em;
}

.cast-name-list {
    margin-left: 6px;
}


span.center, img.center {
    display: block;
    margin: auto;
}

.full-movie-poster {
    border: none;
    width: 180px;
}

.theater-title {
    font-weight: bold;
    font-size: 1.1em;
}

.movie-showtime-theater {
    font-size: 1.25em;
}

.theater-name {
    font: 12pt bold;
}

.theater-address {
    font-size: 11pt;
}

.showtime-list {
    line-height: 24px;
}

.movie-showtime-scroll {
    margin-bottom: 54px;
}

#showReview {
    width: 200px;
    margin: 10px auto;
    border: solid 1px #fff;
    color: #fff;
    font-size: 20px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    display: none;
}

.movie-description-panel,
.movie-cast-panel,
.movie-showtimes-panel {
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -webkit-user-select: text;
    user-select: text;
}

@media (min-width:610px) and (max-width:800px) {

    .movie-description-panel,
    .movie-cast-panel,
    .movie-showtimes-panel {
        width: 125px;
        margin-right: 18px;
    }

    .movie-cast-panel {
        width: 100px;
    }

    .movie-description,
    .cast-name-list,
    .movie-showtime-list {
        top: 20px;
        width: 400px;
        font-size: 1.2em;
        line-height: 1.5em;
    }

        .cast-name-list li {
            font-size: 1.3em;
            margin-bottom: 5px;
        }

    .movie-detail {
        margin: 5px 0 10px 0;
    }

    .movie-description,
    .movie-review-panel,
    .cast-name-list,
    .movie-showtime-list {
        display: none;
    }

    .movie-details-panel {
        margin: 0 10px;
    }

    .text-scroll {
        width: 400px;
    }

    .movie-review-panel {
        padding: 20px;
        left: 0;
        top: 0;
        right: 0;
        position: absolute;
    }
}

@media (min-width:800px) {

    .movie-details-panel {
        margin: 0 20px 0 0;
    }

    .movie-review-panel {
        display: none;
    }

    .movie-description-panel {
        /* 200 pixels for each of the other panels */
        width: calc(100% - 600px);
    }

    .movie-showtimes-panel {
        width: 150px;
        height: 200px;
    }

    .movie-cast-panel {
        width: 180px;
        height: 200px;
    }

    #showReview {
        display: block;
    }
}

@media (min-width:1080px) {

    .full-movie-poster {
        width: 440px;
        height: 677px;
    }

    .movie-review-panel {
        display: none;
        position: absolute;
        top: 5%;
        left: 5%;
        right: 5%;
        bottom: 5%;
        z-index: 1000;
    }

    .movie-details-panel {
        width: 460px;
    }

    .movie-description-panel {
        width: calc(100% - 920px);
    }

    .movie-cast-panel {
        width: 190px;
        height: 200px;
    }

    .movie-showtimes-panel {
        width: 200px;
        height: 200px;
    }

}

@media (min-width:1095px) {

    .movie-cast-panel {
        width: 200px;
    }
}
