

@media (max-width: 600px) {

    .movie-poster-div {
        margin-left: 0;
    }
}


@media (min-width: 600px) {

    .movie-poster-div {
        margin-left: 30px;
    }
}


@media (min-width:1024px) {

    .movie-poster-div {
        margin-left: 60px;
    }
}
