/* Slider Style */
.pxs_container {
    width: 100%;
    height:100%;
    position: relative;
    overflow: hidden;
    touch-action: none;
    -ms-touch-action: none;

}

.panorama-panels {
    list-style: none;
    margin: 0;
    padding: 0;
    position:relative;
}

    .panorama-panels.slide {
        -moz-transition: all 3s linear;
        -o-transition: all 3s linear;
        -webkit-transition: all 3s linear;
        transition: all 3s linear;
    }

.single-panel {
    float: left;
    position: relative;
    display: inline-block;
    margin:0;
    padding:0;
    height:100%;
}

.pxs_navigation {
    display: none;
    z-index: 100;
}

.pxs_navigation span {
    position: absolute;
    width: 30px;
    height: 60px;
    -moz-box-shadow: 0 0 2px #000;
    -webkit-box-shadow: 0 0 2px #000;
    box-shadow: 0 0 2px #000;
    top: 200px;
    opacity: 0.6;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
}

.pxs_navigation span:hover {
    opacity: 0.9;
}

/*
.pxs_navigation span.pxs_prev {
    background: #000 url(../../../img/prev.png) no-repeat center center;
}

.pxs_navigation span.pxs_next {
    background: #000 url(../../../img/next.png) no-repeat center center;
    right: 0;
}
*/

/* End Panorama Styles */
/*@media (min-width:820px){

    .pxs_container{
        
    }

}*/