
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 100%;
}

body {
    -ms-scroll-translation: vertical-to-horizontal;
    touch-action: none;
    -ms-touch-action: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -ms-content-zooming: none;
    overflow-x: hidden;
    /*background-color: #1C2420;*/
    background-color: #7b359a;
    color: #fff;
    letter-spacing: 0.02em;
    font-size: 13px;
    font-family: 'Segoe UI', 'Segoe WP', 'Open Sans', 'Lucida Grande', sans-serif;
    line-height: 1.231;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

a, a:visited {
    color: #eee;
    text-decoration: none;
}

h1, h2, h3 {
    margin: 0;
}


h1, .view-title {
    margin: 15px 0 0 40px;
    letter-spacing: 0;
    font-weight: 200;
    font-size: 1.5em;
    line-height: 26pt;
    width: 270px;
    text-align: left;
    float: left;
    overflow: hidden;
}

h2, .view-title-x-large, .page-title {
    font-weight: 400;
    font-size: 22pt;
    line-height: 1.1429;
}

h3, .view-title-large, .panel-title {
    margin: 6px 12px 6px 0;
    font-weight: 200;
    font-size: 20pt;
    line-height: 1.2;
}

h4, .panel-small-title {
    font-weight: 400;
    font-size: 18pt;
    line-height: 1.1429;
}


.site-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
}


.win-backbutton {
    float: left;
    margin: 20px 0 0 20px;
    line-height: 1.75em;
    border: solid 2px #fff;
    border-radius: 1.75em;
    display: inline-block;
    height: 1.75em;
    width: 1.75em;
    text-align: center;
}

    /* neat trick, but only works on windows wink wink wink*/
    .win-backbutton::before {
        font-family: "Segoe UI Symbol";
        font-weight: normal;
        content: "\E0D5"; /* Can Only be used with ::before & ::after */
        vertical-align: 50%;
    }


.main-content {
    position: absolute;
    overflow: hidden;
    left: 0;
    right: 0;
    top: 80px;
    bottom: 35px;
}


.content-pane {
    position: absolute;
    top: 0px;
    left: 10px;
    display: none;
}

.current {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.vertical-list, .horizontal-list {
    list-style-type: none;
    margin: 0 6px 0 0;
    padding: 0;
}

.title-view {
    display: none;
    margin: 0 3px;
    line-height: 1em;
    height: 1em;
    width: 1em;
    text-align: center;
}


/*@media (min-width:601px) {

    .site-header {
        height: 100px;
    }

    .main-content {
        top: 110px;
        bottom: 0;
        left: 5px;
    }
}

@media (max-width:800px) {

    .main-content {
        left: 10px;
    }
}
*/



@media (min-width: 600px) {

    .view-title {
        width: 400px;
        font-size: 1.5em;
        height: 26pt;
        line-height: 26pt;
    }

    .panel-title {
        font-size: 14pt;
        width: 100%;
    }

        .panel-title.selected {
            font-weight: bold;
        }

    .title-view {
        display: inline-block;
    }

    .panel-title.selected > .title-view {
        display: none;
    }
}


@media (min-width:800px) {

    .main-content {
        left: 10px;
        bottom: 40px;
    }

    .content-pane {
        left: 0px;
    }

    .title-view{
        display:none;
    }

    .panel-title{
        font-weight:bold;
    }

}

@media (min-width:720px) {

    .view-title {
        font-size: 26pt;
        height:32pt;
        line-height: 32pt;
    }
}

@media (min-width:1024px) {

    .view-title {
        width: 300px;
    }
}

@media (min-width:1100px) {

    .nav-icon {
        display: inline-block;
    }
}
