.x-scroller-wrapper, .xy-scroller-wrapper, .y-scroller-wrapper {
    -webkit-overflow-style: none;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow-style: none;
    -moz-overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    -ms-scroll-chaining: none;
    -ms-scroll-translation: vertical-to-horizontal;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-right: 0;
    width: 100%;
    height: 100%;
}

.x-scroller-wrapper {
    -ms-touch-action: pan-x;
    touch-action: pan-x;
}

.y-scroller-wrapper {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    height: calc(100% - 50px);
    padding-right: 15px;
}

.text-scroll {
    width: calc(100% - 20px);
    padding-right: 15px;
}

.panorama-panels {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}

.panel-v-scroll {
    -moz-overflow-scrolling: touch;
    touch-action: pan-y;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow-style: none;
    -ms-scroll-chaining: none;
    -ms-scroll-snap-type: proximity;
    -ms-scroll-translation: vertical-to-horizontal;
    -ms-touch-action: pan-y;
    overflow-scrolling: touch;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
}


.full-text {
    width: calc(100% - 20px);
    margin: auto;
}

.large-text{
    font-size:1.1em;
}

@media (min-width:600px) {

    .xy-scroller-wrapper {
        overflow: hidden;
        overflow-x: scroll;
        overflow-y: hidden;
        padding-right: 0;
        width: auto;
        height: 100%;
    }


    .full-text {
        width: calc(100% - 60px);
        margin: auto;
    }

    
.large-text{
    font-size:1.6em;
}
}

@media(min-width: 1024px) {

    .panel-v-scroll {
        -ms-overflow-style: none;
        -ms-touch-action: none;
        touch-action: none;
        overflow-style: none;
        overflow: hidden;
        overflow-x: hidden;
        overflow-y: hidden;
    }
}

/*@media (min-width:610px) and (max-width:800px){
    .text-scroll {
    width: 100%;
    padding-right: 0;
}
}*/
