<script id="MoviePosterGridTemplate" type="text/x-mustache-template">
    {{#movies}}
        <div class="movie-target">
            <a href="#!movie/{{id}}/{{title}}">
                <img alt="{{title}}" src="{{posters.profile}}" class="movie-grid-poster">
                <figcaption class="demo-photo-caption">{{title}}</figcaption></a>
        </div>
    {{/movies}}
</script>

<script id="movieDetailsPosterTemplate" type="text/x-mustache-template">
    <span class="center"><img class="center full-movie-poster" alt="{{title}}" src="{{posters.detailed}}" /></span>
</script>

<script id="movieDetailsDescriptionTemplate" type="text/x-mustache-template">
    <h3 class="panel-title">Description</h3>
    <article class="movie-description">{{synopsis}}</article>
</script>

<script id="movieDetailsCastTemplate" type="text/x-mustache-template">
    {{#abridged_cast}}
    <li>{{name}}</li>
    {{/abridged_cast}}
</script>