<section id="nofoundview" class="content-pane"
    data-title="Modern Web Movies Missing"
    data-transition="flip"
    data-callback="movie.loadNotFoundView"
    data-path="404">


    <h2>Nothing to See</h2>

</section>