<section id="profileview" class="content-pane"
    data-title="Modern Web Movies User Profile"
    data-transition="flip"
    data-callback="movie.loadProfileView"
    data-path="profile">


    <h2>User Profile</h2>

</section>