<section id="searchview" class="content-pane"
    data-title="Modern Web Movies Search"
    data-transition="flip"
    data-callback="movie.loadSearchView"
    data-path="search\:term">


    <h2>Search</h2>

</section>