

.movie-description-panel {
    margin-right: 24px;
}

.movie-title {
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
}

.cast-name-list {
    margin-left: 6px;
}


span.center, img.center {
    display: block;
    margin: auto;
}

.full-movie-poster {
    width: 250px;
    border: none;
}


.theater-title {
    font-weight: bold;
    font-size: 1.1em;
}

.movie-poster-centered {
    text-align: center;
}

.movie-showtime-theater {
    font-size: 1.25em;
}

.theater-name {
    font: 12pt bold;
}

.theater-address {
    font-size: 11pt;
}

.showtime-list {
    line-height: 24px;
}

.movie-showtime-scroll {
    margin-bottom: 54px;
}


@media (min-width:1024px) {

    .full-movie-poster {
        width: 440px;
        height: 677px;
    }

}
