.x-scroller-wrapper, .xy-scroller-wrapper, .y-scroller-wrapper {
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    overflow-scrolling: touch;
    overflow-style: none;
    -ms-scroll-chaining:none;
    -ms-scroll-snap-type: proximity;
    -ms-scroll-translation: vertical-to-horizontal;
    overflow: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    padding-right: 0;
    height: 100%;
}

.y-scroller-wrapper {
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    ms-touch-action: pan-x;
}

.panorama-panels
{
    ms-touch-action: pan-y;
}

.panel-v-scroll{
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    overflow-scrolling: touch;
    overflow-style: none;
    -ms-scroll-chaining:none;
    -ms-scroll-snap-type: proximity;
    -ms-scroll-translation: vertical-to-horizontal;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    ms-touch-action: pan-x;

}


@media (max-width:600px) {

    .xy-scroller-wrapper {
        overflow: hidden;
        overflow-x: hidden;
        overflow-y: scroll;
        width: 100%;
        padding-right: 0;
        height: 100%;
    }
}

@media (min-width:600px) {

    .xy-scroller-wrapper {
        overflow: hidden;
        overflow-x: scroll;
        overflow-y: hidden;
        width: auto;
        padding-right: 0;
        height: 100%;
    }
}


