<section id="accountview" class="content-pane"
    data-title="Modern Web Movies Account View"
    data-transition="flip"
    data-callback="movie.loadAccountView"
    data-path="account">


    <h2>Account</h2>

</section>