@{
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Mobile Movies</title>
        <link href="css/debug/site.css?v=.2" rel="stylesheet">
    </head>
    <body>
        <header class="site-header" role="banner">
            <h1>Mobile Movies</h1>
            <nav class="main-nav" role="navigation">
                <a href="#!current" role="menuitem" class="current-nav"><span class="nav-icon current-icon"></span><span class="nav-text">Current</span></a>
                <a href="#!comingsoon" role="menuitem" class="coming-soon-nav"><span class="nav-icon coming-soon-icon"></span><span class="nav-text">Coming Soon</span></a>
                <a href="#!theaters" role="menuitem" class="theaters-nav"><span class="nav-icon theaters-icon"></span><span class="nav-text">Theaters</span></a>
                <a href="#!news" role="menuitem" class="news-nav"><span class="nav-icon news-icon"></span><span class="nav-text">News</span></a>
            </nav>
        </header>
        <section id="main" class="main-content" role="main">
            <h2>Main Content Area</h2>
            <p>Sweet gummi bears pastry tootsie roll sweet roll. Brownie cheesecake cupcake oat cake biscuit pudding marshmallow tiramisu. Sweet lollipop danish icing toffee. Powder marzipan jelly beans chocolate cake brownie brownie caramels chocolate unerdwear.com. Dessert lollipop gingerbread pastry powder ice cream lemon drops chocolate cookie. Candy canes gingerbread wafer muffin. Ice cream donut pastry tart cotton candy. Croissant unerdwear.com chocolate jelly-o caramels dessert pastry cupcake. Carrot cake fruitcake sweet roll toffee soufflé chocolate bar oat cake toffee.
            </p><p>Cupcake gingerbread dessert jelly-o brownie jelly bonbon ice cream danish. Lollipop marshmallow cotton candy apple pie dessert cheesecake donut ice cream. Marshmallow sweet roll sweet roll tootsie roll pudding applicake cotton candy danish topping. Pastry croissant carrot cake powder. Powder cookie sweet roll ice cream cake pudding bonbon gummi bears sugar plum. Chupa chups dragée soufflé sweet roll chocolate bar marzipan soufflé.
            </p><p>Carrot cake oat cake chocolate cake. Chocolate bar powder sesame snaps carrot cake. Powder candy canes carrot cake chocolate cake wafer. Candy gingerbread chocolate liquorice cotton candy dragée candy marzipan fruitcake. Donut jelly-o muffin sesame snaps. Biscuit jelly beans pastry pastry fruitcake applicake sweet roll cupcake tootsie roll. Gummies pudding bear claw cupcake topping sweet. Caramels apple pie chocolate bar apple pie jujubes. Toffee tootsie roll bear claw marzipan. Sesame snaps wafer cotton candy chupa chups candy.</p>
        </section>
        <footer class="footer">
            {footer}
        </footer>
    </body>
</html>
